streamlit
streamlit-extras
plotly

langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai
langchain-openai

google-generativeai
openai

python-dotenv
pandas
numpy
PyYAML
requests
tenacity

aiofiles
anyio
attrs
bcrypt
blinker
cachetools
certifi
charset-normalizer
click
filelock
fsspec
GitPython
h11
idna
Jinja2
jsonschema
MarkupSafe
networkx
orjson
packaging
pillow
protobuf
pyarrow
pydantic
pydeck
Pygments
python-dateutil
referencing
regex
rpds-py
six
SQLAlchemy
sympy
toml
tqdm
typing_extensions
urllib3
watchdog
websocket-client
websockets
xxhash
yarl
zstandard
